<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="./styles.css" />
    <div id="index-btn-sct">
      <a href="/views/newMessage">
        <button id="index-new-chat-btn">New Chat</button>
      </a>
    </div>
    <div id="index-messages-sct"><%- include('boxMessage') %></div>
  </head>
  <body></body>
</html>
