<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="./styles.css" />
    <div id="btn-sct">
      <button id="new-chat-btn">New Chat</button>
    </div>
    <div id="messages-sct"></div>
  </head>
  <body></body>
</html>
